<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OuterWildsApp"
        tools:targetApi="31">
        <activity
            android:name=".Planeta_recanto"
            android:exported="false" />
        <activity
            android:name=".Planeta_vale"
            android:exported="false" />
        <activity
            android:name=".Planeta_profundezas"
            android:exported="false" />
        <activity
            android:name=".Planeta_abrolho"
            android:exported="false" />
        <activity
            android:name=".TelaPersonagem"
            android:exported="false" />
        <activity
            android:name=".TelaPlanetas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>